#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1em;
}

/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

main {
    margin-top: 250px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

header li {
    list-style: none;
    display: inline-block;
    padding: 5px 20px;
    white-space: nowrap;

}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: rgb(134, 44, 2);
}

#header-img {
    width: 400px;
    height: auto;
    margin-right: auto;
}

#nav-bar {
    margin-right: 40px;
}