#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1em;
}

/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

main {
    margin-top: 250px;
}

@media only screen and (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}

header li {
    list-style: none;
    display: inline-block;
    padding: 5px 20px;
    white-space: nowrap;

}

header li:last-child {
    margin-right: 40px;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: rgb(134, 44, 2);
}

#header-img {
    width: 400px;
    height: auto;
    margin-right: auto;
    max-width: 100%;
}

#nav-bar {
    margin-right: 40px;
}

main {
    margin: auto;
    margin-top: 120px;
    width: 70%;
}

#getStarted {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#getStarted>h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#getStarted input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;

}

#getStarted input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
    font-size: large;
    text-transform: uppercase;
    border-radius: 2px;
}

#getStarted input[type='submit']:hover {
    background-color: orange;
    transition: background-color 1s;
}

.grid {
    display: flex;
}

#features {
    margin-top: 30px;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}

@media (max-width: 600px) {
    #features .icon {
        display: none;
    }

    main {
        margin-top: 150px;
    }

    #features .desc {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}